.App {
    padding: 1rem;
}

.bp3-html-table td {
    vertical-align: middle!important;
}

canvas {
    width: 100vw;
    height: 100vh;
    touch-action: none;
}

/************/

$tile-border: 2px;
$tile-size: 4.5rem;
$tile-font-size: ($tile-size * 0.35);

/******* Board *******/

.Board {
    display: inline-block;
    background: #333;
    margin: 1rem;
    padding: $tile-border 0 0 $tile-border;
}

.Board-row {
    display: flex;
}

.Board-cell {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    // box-shadow: 0 0 0 $tile-border black inset;
    margin: 0 $tile-border $tile-border 0;
    width: $tile-size;
    height: $tile-size;
    user-select: none;
    cursor: pointer;

    .Tile {
        z-index: 100;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

/******* Tile *******/

.Tile {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    box-shadow: 0 0 0 $tile-border black inset;
    width: $tile-size;
    height: $tile-size;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        z-index: 1000000;
        transform: scale(1.25);
    }

    &:active {
        transform: scale(1.15);
    }
}

.TileHighlight {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all .75s ease;
    opacity: 0.5;
    pointer-events: none;
    transform: scale(1.5);

    &[data-active] {
        transform: scale(1);
    }
}

.TileName {
    display: flex;
    align-items: flex-end;
    // font-family: monospace;
    user-select: none;

    .TileName-number {
        font-size: $tile-font-size;
    }

    .TileName-letter {
        font-size: ($tile-font-size * .75);
        padding-bottom: ($tile-font-size * 0.1);
    }
}

/******* Player *******/

.Hand {
    position: relative;
    display: inline-flex;
    background: #ccc;
    padding: .5rem;

    > * + * {
        margin-left: .25rem;
    }
}

/******* Deck *******/

.Deck {
    .Tile {
        background: red;
    }

    .TileName {
        flex-direction: column;

        .TileName-letter {
            margin-top: -.5rem;
        }
    }
}
